<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >

<head>
    <title>Добавить кредитное предложение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/head :: head"></header>

<div class="container mt-5 mb-5">
    <h1>Добавить кредитное предложение</h1>
    <form action="/view-creditOffer/add" method="post" enctype="multipart/form-data">

        <label>Выберете клиента из списка</label>
        <select name="client" class="form-control">
            <option th:each="el : ${clients}" th:value="${el.getFIO()}" th:text="${el.getFIO()}"></option>
        </select>
        <br><br>
        <label>Выберете кредитный лимит</label>
        <select name="credit" class="form-control">
            <option th:each="el : ${credits}" th:value="${el.getCreditLimit()}" th:text="${el.getCreditLimit()}"></option>
        </select>

        <br><br>
        <input type="text" name="loanAmount" placeholder="Введите сумму кредита" class="form-control"><br>
        <button type="submit" class="btn btn-outline-primary">Подтвердить добавление</button>
    </form>
</div>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>