<div th:fragment="head">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Сервис заявок</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="#">Клиенты</a>
            <a class="p-2 text-dark" href="/view-client/add">Добавить клиента</a>
            <a class="p-2 text-dark" href="/view-client">Просмотр клиентов</a>

            <a class="p-2 text-dark" href="#">Клиенты</a>
            <a class="p-2 text-dark" href="/view-credit/add">Добавить кредит</a>
            <a class="p-2 text-dark" href="/view-credit">Просмотр кредитов</a>

            <a class="p-2 text-dark" href="#">Банк</a>
            <a class="p-2 text-dark" href="/view-bank/add">Добавить банк</a>
            <a class="p-2 text-dark" href="/view-bank">Просмотр банков</a>

            <a class="p-2 text-dark" href="#">Крединое предложение</a>
            <a class="p-2 text-dark" href="/view-creditOffer/add">Добавить кредитное предложение</a>
            <a class="p-2 text-dark" href="/view-creditOffer">Просмотр кредитных предложений</a>
            <!--<a class="p-2 text-dark" href="#">Поддержка</a>-->
        </nav>
        <a class="btn btn-outline-primary" href="#">Войти</a>
    </div>
</div>