<div th:fragment="head">
    <style type="text/css">
        ul {
            list-style: none; /*убираем маркеры списка*/
            margin: 0; /*убираем отступы*/
            padding-left: 0; /*убираем отступы*/
            background: #3f89e0; /*добавляем фон всему меню*/
            height: 50px; /*задаем высоту*/
        }
        a {
            text-decoration: none; /*убираем подчеркивание текста ссылок*/
            background: #3f89e0; /*добавляем фон к пункту меню*/
            color:#fff; /*меняем цвет ссылок*/
            padding:0px 15px; /*добавляем отступ*/
            font-family: arial,serif; /*меняем шрифт*/
            line-height:50px; /*ровняем меню по вертикали*/
            display: block;
            border-right: 1px solid #3f89e0; /*добавляем бордюр справа*/
            -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
            -o-transition: all 0.3s 0.01s ease;
            -webkit-transition: all 0.3s 0.01s ease;

        }
        a:hover {
            background: #3f89e0;/*добавляем эффект при наведении*/
        }
        li {
            float:left; /*Размещаем список горизонтально для реализации меню*/
            position:relative; /*задаем позицию для позиционирования*/
        }

        /*Стили для скрытого выпадающего меню*/
        li > ul {
            position:absolute;
            top:50px;
            display:none;
        }

        /*Делаем скрытую часть видимой*/
        li:hover > ul {
            display:block;
            width:300px;  /*Задаем ширину выпадающего меню*/
        }
        li:hover > ul > li {
            float:none; /*Убираем горизонтальное позиционирование*/
        }
    </style>

        <ul>
        <!-- Brand -->
            <li > <a href="/">Система банка</a></li >

            <!-- Dropdown -->
            <li >
                <a href="#" >Клиенты</a>
                    <ul>
                    <a href="/view-client/add">Добавить клиента</a>
                    <a href="/view-client">Просмотр клиентов</a>
                    </ul>
            </li>
        <!-- Dropdown -->
        <li>
            <a href="#">Кредиты</a>
                <ul>
                <a href="/view-credit/add">Добавить кредит</a>
                <a href="/view-credit">Просмотр кредитов</a>
                </ul>
        </li>
        <!-- Dropdown -->
        <li>
            <a href="#" >Банк</a>
            <ul>
                <a href="/view-bank/add">Добавить банк</a>
                <a href="/view-bank">Просмотр банков</a>
                </ul>
        </li>
        <!-- Dropdown -->
        <li>
            <a href="#">Крединое предложение</a>
            <ul>
                <a href="/view-creditOffer/add">Добавить кредитное предложение</a>
                <a href="/view-creditOffer">Просмотр кредитных предложений</a>
            </ul>
        </li>
        </ul>
</div>